<div class="page">
  <div class="page-header">Weather Forecast</div>
  <div class="page-body">
    <div class="page-body__sidebar">
      <ul class="cities-list">
        <!--Added the list of cities-->
        <li
          class="cities-list__item"
          *ngFor="let city of cities; let i = index"
          (click)="onSelectCity(i)"
        >
          <a
            routerLink="/weather/details/{{ i }}"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >{{ city.name }}</a
          >
        </li>
      </ul>
    </div>
    <div class="page-body__details">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
