<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style></style>
<script></script>

<main class="main">
  <!--
  <h1 class="text-3xl font-bold underline">Hello world! I'm Tailwind</h1>
  <div>
    <mat-slide-toggle>Toggle me!</mat-slide-toggle>
  </div>
  <app-calendar></app-calendar>
  <br />
  -->

  <app-weather></app-weather>
</main>

<router-outlet />
